<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">

</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}">

    </nav>

</div>


<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form th:method="POST"
          th:action="@{/offer/add}"
          th:object="${createOfferDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">


            <!--  Type Breed  -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="typeBreed">Type Breed</label>
                <select id="typeBreed"
                        th:name="typeBreed"
                        th:field="*{typeBreed}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a type breed -</option>
                        <option
                        th:each="t : ${typeBreed}"
                        th:text="${t}"
                        th:value="${t}"
                        ></option>
                    </optgroup>
                </select>
                <p th:if="${#fields.hasErrors('typeBreed')}"
                   class="errors alert alert-danger"
                   th:errors="*{typeBreed}"></p>
            </div>
            <!--      End of Type Breed      -->

            <!-- Model  -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="modelId">Model</label>
                <select id="modelId"
                        th:name="modelId"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a model -</option>
                    <optgroup
                            th:each="breed: ${breeds}"
                            th:label="${breed.name()}">

                        <option
                                th:each="model : ${breed.models()}"
                                th:text="${model.name}"
                                th:value="${model.id}"
                                th:selected="*{modelId} == ${model.id}">
                            Model
                        </option>

                    </optgroup>
                </select>
                <p th:if="${#fields.hasErrors('modelId')}"
                   class="errors alert alert-danger"
                   th:errors="*{modelId}"></p>
            </div>
            <!--     End of Model       -->

            <!-- Gender  -->
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="gender">Gender</label>
                <select id="gender"
                        th:name="gender"
                        th:field="*{gender}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a gender -</option>
                    <option th:each="g : ${genders}"
                            th:text="${g}"
                            th:value="${g}"
                            ></option>
                </select>
                <p th:if="${#fields.hasErrors('gender')}"
                   class="errors alert alert-danger"
                   th:errors="*{gender}"></p>
            </div>
            <!--     End of Gender       -->

            <!--     Price       -->
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input id="price"
                       th:field="*{price}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="Suggested price"/>
                <p th:if="${#fields.hasErrors('price')}"
                   class="errors alert alert-danger"
                   th:errors="*{price}"></p>
            </div>
            <!--      End of Price      -->
        </div>


        <!--   Age     -->
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="age" class="text-white font-weight-bold">Age</label>
                <input id="age"
                       th:errorclass="is-invalid"
                       th:field="*{age}"
                       type="number"
                       class="form-control"
                       placeholder="Manufacturing year"/>
                <p th:if="${#fields.hasErrors('age')}"
                    class="errors alert alert-danger"
                    th:errors="*{age}"></p>
            </div>
        </div>
        <!-- End of Age -->

        <!--         Description           -->
        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea id="description"
                      th:name="description"
                      th:errorclass="is-invalid"
                      th:field="*{description}"
                      type="textarea"
                      class="form-control" rows="3"
                      placeholder="Description"></textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>
       <!--     End of Description   -->

        <!--     Image   -->
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input id="imageUrl"
                   th:errorclass="is-invalid"
                   th:field="*{imageUrl}"
                   type="url" class="form-control"
                   placeholder="Put vehicle image URL here">
            <p th:if="${#fields.hasErrors('imageUrl')}"
               class="errors alert alert-danger"
               th:errors="*{imageUrl}"></p>
        </div>
        <!--     End of Image-->

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>